/.container-fluid
- @ideas.each do |idea|
  .card.container
    .row.bg-light
      .container
        %p
        .text-left
          %h5
            - unless current_user.voted_for? idea
              = link_to "<i class='fa fa-thumbs-up'></i>".html_safe, like_idea_path(idea), method: :put, class: 'btn btn-outline-success rounded-circle'
              %span.badge.badge-secondary
                = idea.total_score
            - unless current_user.voted_for? idea
              = link_to "<i class='fa fa-thumbs-down'></i>".html_safe, dislike_idea_path(idea), method: :put, class: 'btn btn-outline-danger rounded-circle'
        /.pull-right
        /  = link_to 'Skip for now', random_ideas_path, class: 'btn btn-secondary rounded-circle'
        %p
    %b= link_to idea.name, idea
    = simple_format(idea.description)
    .row
    .form-inline
      - idea.tags.each do |tag|
        %span.badge.badge-default
          = link_to tag.name, tag
      %br
    .row.bg-light
      .col
        = link_to idea_path(idea) do
          = fa_icon "comments"
          = idea.comments.count
          comments
        %br
        = link_to idea_path(idea) do
          = fa_icon "users"
          = idea.cofounders.count
          cofounders
      .col.text-right
        .font-weight-light.font-italic
          - if idea.user_id == current_user.id
            %span.badge.badge-success
              You
          - else
            = link_to idea.user.username, user_path(idea.user)
          %br
          = time_ago_in_words(idea.created_at)
          ago by
  %p