-# frozen_string_literal: true
= simple_form_for(@idea) do |f|
  = f.error_notification
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.input :name, autofocus: true, placeholder: 'Title of the idea'
    = f.input :description, placeholder: 'What problem do you want to solve? What solution do you suggest?'
    /= f.association :user
    %h3 Tags
    #tags.tab-pane
      = f.simple_fields_for :idea_tags do |idea_tag|
        = render 'idea_tag_fields', :f => idea_tag
      = link_to_add_association 'add a tag', f, :idea_tags

  .form-actions
    = f.button :submit, class: 'btn btn-success'
