- @ideas.each do |idea|
  .row
    .col-md-auto
      .text-center
        - if current_user

          /= link_to like_idea_path(idea), method: :put, class: "btn btn-secondary" do
          /  %span.fa.fa-arrow-up
          /  = idea.get_upvotes.size

          /.btn-group.pull-right
          /  = link_to like_idea_path(idea), method: :put, class: 'btn btn-secondary btn-sm' do
          /    %span.fa.fa-arrow-up
          /    Upvote
          /    #{idea.get_upvotes.size}
          /  = link_to dislike_idea_path(idea), method: :put, class: 'btn btn-secondary btn-sm' do
          /    %span.fa.fa-arrow-down
          /    Downvote
          /    #{idea.get_downvotes.size}
          - if current_user.voted_up_on? idea
            = fa_icon "thumbs-up", class: 'btn btn-sm btn-default', "data-placement" => "right", "data-toggle" => "tooltip", :title => "You've already upvoted"
          - unless current_user.voted_for? idea
            = link_to "<i class='fa fa-thumbs-up'></i>".html_safe, like_idea_path(idea), method: :put, class: 'btn btn-sm btn-outline-success rounded-circle'
          .row
          /%span.badge.badge-secondary.btn-block{"data-placement" => "right", "data-toggle" => "tooltip", :title => "upvotes - downvotes", :type => "button"}
          %span.badge.badge-secondary.btn-block{"data-placement" => "right", "data-toggle" => "tooltip", :title => "all upvotes - downvotes"}
            = idea.total_score
          .row
          - unless current_user.voted_for? idea
            = link_to "<i class='fa fa-thumbs-down'></i>".html_safe, dislike_idea_path(idea), method: :put, class: 'btn btn-sm btn-outline-danger rounded-circle'
          - if current_user.voted_down_on? idea
            = fa_icon "thumbs-down", class: 'btn btn-sm btn-default', "data-placement" => "right", "data-toggle" => "tooltip", :title => "You've already downvoted"
        - else
          = fa_icon "thumbs-up", class: 'btn btn-sm btn-outline-success rounded-circle'
          .row
          %span.badge.badge-secondary.btn-block
            = idea.total_score
          .row
          = fa_icon "thumbs-down", class: 'btn btn-sm btn-outline-danger rounded-circle'
    .col
      .card
        %h5.card-header.bg-light
          = link_to idea.name, idea
        .card-body
          = simple_format(idea.description)
          .row
          .form-inline
            - idea.tags.each do |tag|
              %span.badge.badge-default
                = link_to tag.name, tag
            %br
        .container
          .row.bg-light
            .col
              = link_to idea_path(idea) do
                = fa_icon "comments"
                = idea.comments.count
              = link_to idea_path(idea) do
                = fa_icon "users"
                = idea.cofounders.count
              - if current_user
                - if idea.cofounders.where(user_id: current_user.id).present?
                  %span.badge.badge-secondary
                    You've applied!
            .col
              .text-right
                .font-weight-light.font-italic
                  = time_ago_in_words(idea.created_at)
                  ago by
                  - if current_user
                    - if idea.user_id == current_user.id
                      %span.badge.badge-success
                        You
                    - else
                      = link_to idea.user.username, user_path(idea.user)
                  - else
                    = link_to idea.user.username, user_path(idea.user)
  %p