- @ideas.each do |idea|
  .row
    .col-md-auto
      .text-center
        - if current_user
          - if current_user.voted_up_on? idea
            = fa_icon "thumbs-up", class: 'btn btn-sm btn-success disabled', "data-placement" => "right", "data-toggle" => "tooltip", :title => "You've already upvoted"
          - unless current_user.voted_for? idea
            = link_to "<i class='fa fa-thumbs-up'></i>".html_safe, like_idea_path(idea), method: :put, class: 'btn btn-sm btn-outline-success rounded-circle'
          .row
          %span.badge.badge-secondary.btn-block{"data-placement" => "right", "data-toggle" => "tooltip", :title => "upvotes - downvotes"}
            = idea.total_score
          .row
          - unless current_user.voted_for? idea
            = link_to "<i class='fa fa-thumbs-down'></i>".html_safe, dislike_idea_path(idea), method: :put, class: 'btn btn-sm btn-outline-danger rounded-circle'
          - if current_user.voted_down_on? idea
            = fa_icon "thumbs-down", class: 'btn btn-sm btn-danger disabled', "data-placement" => "right", "data-toggle" => "tooltip", :title => "You've already downvoted"
          /.row
          /%small= pluralize(idea.total_votes, 'vote')
        - else
          = fa_icon "thumbs-up", class: 'btn btn-sm btn-success disabled', "data-placement" => "right", "data-toggle" => "tooltip", :title => "Sign in to vote"
          .row
          %span.badge.badge-secondary.btn-block{"data-placement" => "right", "data-toggle" => "tooltip", :title => "upvotes - downvotes"}
            = idea.cached_weighted_score
          .row
          = fa_icon "thumbs-down", class: 'btn btn-sm btn-danger disabled', "data-placement" => "right", "data-toggle" => "tooltip", :title => "Sign in to vote"
        .row
        .text-white
          %small= pluralize(idea.total_votes, 'vote')
    .col
      .card
        %h5.card-header.bg-light
          = link_to idea.name, idea, class: 'text-dark'
          .pull-right
            - if user_signed_in? && current_user.favorites?(idea)
              Unlike
              /= link_to "Unlike", post_like_path(post), method: :delete, remote: true
            - else
              Like
              /= link_to "Like", post_like_path(post), method: :post, remote: true
            = idea.favorites.count

            - if current_user
              - if favorite = current_user.favorites?(idea)
                = link_to [idea, favorite], class: 'btn btn-outline-danger', method: :delete do
                  %i.fa.fa-star>
                    Unwatch
              - else
                = link_to idea, class: 'btn btn-outline-success', method: :idea do
                  %i.fa.fa-star>
                    Watch
            - else
              = fa_icon "star", class: 'btn btn-sm btn-success disabled', "data-placement" => "right", "data-toggle" => "tooltip", :title => "Sign in to watch"
        .card-body
          .text-dark
            = simple_format(idea.description)
          .row
          .form-inline
            - idea.tags.each do |tag|
              %span.badge.badge-success
                = link_to tag.name, tag_path(tag), class: 'text-white'
            %p
        %small.container
          .row.bg-light
            .col-lg
              = link_to idea_path(idea), class: 'badge badge-light' do
                = fa_icon "users"
                = pluralize(idea.cofounders.count, 'cofounder')
              = link_to idea_path(idea), class: 'badge badge-light' do
                = fa_icon "exclamation-triangle"
                = pluralize(idea.attachments.count, 'attachment')
              - if current_user
                - if idea.cofounders.where(user_id: current_user.id).present?
                  %span.badge.badge-secondary
                    You've applied!
            .col-lg
              .text-right
                .font-weight-light.font-italic
                  = time_ago_in_words(idea.created_at)
                  ago by
                  - if current_user
                    - if idea.user_id == current_user.id
                      %span.badge.badge-success
                        You
                    - else
                      = link_to idea.user.username, user_path(idea.user)
                  - else
                    = link_to idea.user.username, user_path(idea.user)
  %p