- content_for :title do
  = controller.action_name.capitalize
  startup ideas

%nav.navbar.navbar-expand-lg
  /%ul.nav.navbar-nav
  .card.bg-success
    = nav_bar do
      = nav_link "Fresh", fresh_ideas_path
      - if current_user
        = nav_link "Unvoted #{Idea.where.not(id: current_user.find_voted_items.map(&:id)).count}", unvoted_ideas_path
      - else
        = nav_link "Unvoted", unvoted_ideas_path
      = nav_link "Random", random_ideas_path
      /= nav_link "Trending", trending_ideas_path
      = nav_link "Top", top_ideas_path

.text-center.text-white
  %h3
    = controller.action_name.capitalize
    ideas
    .badge.badge-secondary
      = @ideas.count
    - if controller.action_name == 'random'
      = link_to 'Next', random_ideas_path, class: 'btn btn-secondary rounded-circle'

= render 'ideas/index'
- unless current_user
  %div{:class => "alert alert-warning", :role => "alert"}
    %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
    = link_to 'Sign in', user_facebook_omniauth_authorize_path
    to see more!
    /Sign in to vote, join idea discussion, or become a cofounder
%br