%h1 Listing ideas

%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th User
      %th
      %th
      %th

  %tbody
    - @ideas.each do |idea|
      %tr
        %td= idea.name
        %td= idea.description
        %td= idea.user
        %td= link_to 'Show', idea
        %td= link_to 'Edit', edit_idea_path(idea)
        %td= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' }

%br