%h1 Listing ideas

%table.table
  %thead
    %tr
      %th
      %th Name
      %th Description
      %th User
      %th
      %th
  %tbody
    - @ideas.each do |idea|
      %tr
        %td= time_ago_in_words(idea.created_at)
        %td= link_to idea.name, idea
        %td= idea.description
        %td= idea.user.email
        - if idea.user == current_user
          %td= link_to 'Edit', edit_idea_path(idea)
          %td= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' }

%br