/%p#notice= notice
.text-right
  - if @idea.user == current_user
    = link_to 'Edit', edit_idea_path(@idea), class: 'btn btn-warning'
    \|
    = link_to 'Destroy', @idea, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%p
.row
  .col-1
    .text-center
      - if current_user.voted_up_on? @idea
        = fa_icon "caret-up 2x"
      - unless current_user.voted_for? @idea
        = link_to like_idea_path(@idea), method: :put do
          = fa_icon "caret-up 2x"
      .row
      %span.badge.badge-success
        = @idea.total_score
      .row
      - unless current_user.voted_for? @idea
        = link_to dislike_idea_path(@idea), method: :put do
          = fa_icon "caret-down 2x"
      - if current_user.voted_down_on? @idea
        = fa_icon "caret-down 2x"
  .col
    .card.container
      %b= @idea.name
      = @idea.description
      %br
      .row
        .col
          = fa_icon "comments"
          = @idea.comments.count
        .col
          .text-right
            .font-weight-light.font-italic
              = time_ago_in_words(@idea.created_at)
              ago by
              = @idea.user.username
      %p
      /TOTAL
      /= @idea.total_votes
      /Ye
      /= @idea.positive_score
      /No
      /= @idea.negative_score
      /Positive%
      /= @idea.positive_percent
      /Negative%
      /= @idea.negative_percent
      .progress{:style => "height: 13px"}
        .progress-bar.bg-success{:style => "width:#{@idea.positive_percent}%"}
          =  @idea.positive_score
        .progress-bar.bg-danger{:style => "width:#{@idea.negative_percent}%"}
          =  @idea.negative_score
      %p
    .form-inline
      - @idea.tags.each do |tag|
        %span.badge.badge-default
          = link_to tag.name, tag
        \| 
      %p
    Comments
    = render 'comments/form'
    %p
    = render 'comments/index'
%br