/%p#notice= notice
/.text-right
- if @idea.user == current_user
  = link_to 'Edit', edit_idea_path(@idea), class: 'btn btn-warning'
  /- unless @idea.votes_for.size > 0 || @idea.comments.any? || @idea.cofounders.any?
  - unless @idea.associations?
    = link_to 'Destroy', @idea, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%p
.row
  .col-1
    .text-center
      - if current_user.voted_up_on? @idea
        = fa_icon "caret-up 2x"
      - unless current_user.voted_for? @idea
        = link_to like_idea_path(@idea), method: :put do
          = fa_icon "caret-up 2x"
      .row
      %span.badge.badge-success
        = @idea.total_score
      .row
      - unless current_user.voted_for? @idea
        = link_to dislike_idea_path(@idea), method: :put do
          = fa_icon "caret-down 2x"
      - if current_user.voted_down_on? @idea
        = fa_icon "caret-down 2x"
  .col
    .card.container
      %b= @idea.name
      = @idea.description
      .row
      .form-inline
        - @idea.tags.each do |tag|
          %span.badge.badge-default
            = link_to tag.name, tag
        %br
      .row.bg-light
        .col
          = fa_icon "comments"
          = @idea.comments.count
          = fa_icon "users"
          = @idea.cofounders.count
        .col
          .text-right
            .font-weight-light.font-italic
              = time_ago_in_words(@idea.created_at)
              ago by
              - if @idea.user_id?
                = @idea.user.username
%p
.progress{:style => "height: 13px"}
  .progress-bar.bg-success{:style => "width:#{@idea.positive_percent}%"}
    =  @idea.positive_score
  .progress-bar.bg-danger{:style => "width:#{@idea.negative_percent}%"}
    =  @idea.negative_score
%p
.row
  .col-lg
    = fa_icon "comments"
    Discussion
    %p
    = render 'comments/form'
    %p
    = render 'comments/index'
    %p
  .col-lg
    = fa_icon "users"
    Cofounders
    - unless @current_user_is_a_cofounder
      = render 'ideas/cofounder_modal'
    - else
      %span.badge.badge-secondary
        %h5 You've applied!
    %p
    = render 'cofounders/index'
%br