%p#notice= notice
- if @idea.user == current_user
  = link_to 'Edit', edit_idea_path(@idea), class: 'btn btn-warning'
  \|
  = link_to 'Back', ideas_path, class: 'btn btn-secondary'
  \|
  = link_to 'Destroy', @idea, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%p
.card.container
  = time_ago_in_words(@idea.created_at)
  ago by
  = @idea.user.username
  %br
  %b= link_to @idea.name, @idea
  = @idea.description
  %br
  = link_to idea_path(@idea) do
    = fa_icon "comments"
    = @idea.comments.count
    comments
