.card.container
  .form-inline
    .col
      Owner actions
    .col-auto
      .form-inline
        - if @idea.user == current_user
          /- unless @idea.published
          /  = button_to "Publish", publish_idea_path(@idea), method: :patch, class: 'btn btn-success btn-sm'
          /- else
          /  = button_to "Publish", publish_idea_path(@idea), method: :patch, class: 'btn btn-success disabled btn-sm'
          /  = button_to "UnPublish", unpublish_idea_path(@idea), method: :patch, class: 'btn btn-success btn-sm'
          /.card.container
          /  .form-inline
          - if @idea.created_at > Time.now - 24.hours
            = link_to 'Edit', edit_idea_path(@idea), class: 'btn btn-warning btn-sm'
          - else
            = link_to 'Edit', edit_idea_path(@idea), class: 'btn btn-warning  btn-sm disabled'
          - unless @idea.associations?
            = link_to 'Destroy', @idea, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
          - else
            = link_to 'Destroy', @idea, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger disabled btn-sm'
          = fa_icon "question", class: 'btn btn-sm btn-secondary rounded-circle active', "data-placement" => "right", "data-toggle" => "tooltip", :title => "You have #{distance_of_time_in_words @idea.created_at + 24.hours - Time.now} to edit. You can not delete idea if it has votes or other stuff."
          /= link_to 'Transfer ownership', edit_idea_path(@idea), class: 'btn btn-warning disabled'
          /= link_to 'Change idea status', edit_idea_path(@idea), class: 'btn btn-warning disabled'
          /= link_to 'Add proof of realisation', edit_idea_path(@idea), class: 'btn btn-warning disabled'
%p
.row
  .col-md-auto
    .text-center
      - if current_user
        - if current_user.voted_up_on? @idea
          = fa_icon "thumbs-up", class: 'btn btn-sm btn-success disabled', "data-placement" => "right", "data-toggle" => "tooltip", :title => "You've already upvoted"
        - unless current_user.voted_for? @idea
          = link_to "<i class='fa fa-thumbs-up'></i>".html_safe, like_idea_path(@idea), method: :put, class: 'btn btn-sm btn-outline-success rounded-circle'
        .row
        /%span.badge.badge-secondary.btn-block{"data-placement" => "right", "data-toggle" => "tooltip", :title => "upvotes - downvotes", :type => "button"}
        %span.badge.badge-secondary.btn-block{"data-placement" => "right", "data-toggle" => "tooltip", :title => "all upvotes - downvotes"}
          = @idea.total_score
        .row
        - unless current_user.voted_for? @idea
          = link_to "<i class='fa fa-thumbs-down'></i>".html_safe, dislike_idea_path(@idea), method: :put, class: 'btn btn-sm btn-outline-danger rounded-circle'
        - if current_user.voted_down_on? @idea
          = fa_icon "thumbs-down", class: 'btn btn-sm btn-danger disabled', "data-placement" => "right", "data-toggle" => "tooltip", :title => "You've already downvoted"
      - else
        = fa_icon "thumbs-up", class: 'btn btn-sm btn-outline-success rounded-circle'
        .row
        %span.badge.badge-secondary.btn-block
          = @idea.total_score
        .row
        = fa_icon "thumbs-down", class: 'btn btn-sm btn-outline-danger rounded-circle'
  .col
    .card
      %h5.card-header.bg-light
        = @idea.name
      .card-body
        = simple_format(@idea.description)
        .row
        .form-inline
          - @idea.tags.each do |tag|
            %span.badge.badge-success
              = link_to tag.name, tag_path(tag), class: 'text-white'
          %p
      .container
        .row.bg-light
          .col
            %span.badge.badge-light
              = fa_icon "comments"
              = pluralize(@idea.comments.count, 'comment')
            %span.badge.badge-light
              = fa_icon "users"
              = pluralize(@idea.cofounders.count, 'cofounder')
            %span.badge.badge-light
              = fa_icon "exclamation-triangle"
              = pluralize(@idea.attachments.count, 'attachment')
            .form-inline
              /with a title for twitter
              /= social_share_button_tag(@idea.name, 'data-twitter-title' => 'TEST')
              /= social_share_button_tag("What do you think about this startup idea? '#{@idea.name}'", :allow_sites => %w(twitter linkedin telegram), desc: @idea.description, :image => "http://foo.bar/images/a.jpg")
              = social_share_button_tag("What do you think about this startup idea? '#{@idea.name}'", :allow_sites => %w(twitter linkedin telegram), desc: @idea.description)
              = social_share_button_tag @idea.name, desc: @idea.description, :allow_sites => %w(facebook)
          .col
            .text-right
              .font-weight-light.font-italic
                = time_ago_in_words(@idea.created_at)
                ago by
                - if @idea.user_id == current_user.id
                  %span.badge.badge-success
                    You
                - else
                  = link_to @idea.user.username, user_path(@idea.user)
                  /= @idea.user.username
%p
- if @idea.votes_for.any?
  .progress{:style => "height: 13px"}
    .progress-bar.bg-success{:style => "width:#{@idea.positive_percent}%"}
      =  @idea.positive_score
    .progress-bar.bg-danger{:style => "width:#{@idea.negative_percent}%"}
      =  @idea.negative_score
- else
  .progress{:style => "height: 13px"}
    .progress-bar.bg-success{:style => "width: 0%"}
%p
.row
  .col-lg
    .form-inline
      .text-white
        = fa_icon "exclamation-triangle"
        Similar projects
      = render 'attachments/form'
      %p
      = render 'attachments/index'
      %p
    .text-white
      = fa_icon "comments"
      Discussion
    %p
    = render 'comments/form'
    %p
    = render 'comments/index'
    %p
  .col-lg
    .text-white
      = fa_icon "users"
      Cofounders
    - unless @current_user_is_a_cofounder
      = render 'ideas/cofounder_modal'
    - else
      %span.badge.badge-secondary
        %h5 You've applied!
    %p
    = render 'cofounders/index'
%br