/%p#notice= notice
/.text-right
- if @idea.user == current_user
  - if @idea.created_at > Time.now - 24.hours
    = link_to 'Edit', edit_idea_path(@idea), class: 'btn btn-warning'
  - unless @idea.associations?
    = link_to 'Destroy', @idea, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%p
.card.container
  %b= @idea.name
  = simple_format(@idea.description)
  .row
  .form-inline
    - @idea.tags.each do |tag|
      %span.badge.badge-default
        = link_to tag.name, tag
    %br
  .row.bg-light
    .col
      = fa_icon "comments"
      = @idea.comments.count
      = fa_icon "users"
      = @idea.cofounders.count
    .col
      .text-right
        .font-weight-light.font-italic
          = time_ago_in_words(@idea.created_at)
          ago by
          - if @idea.user_id == current_user.id
            %span.badge.badge-success
              You
          - else
            = link_to @idea.user.username, user_path(@idea.user)
            /= @idea.user.username
%br
- if current_user.voted_up_on? @idea
  = fa_icon "thumbs-up"
- unless current_user.voted_for? @idea
  = link_to like_idea_path(@idea), method: :put do
    = fa_icon "thumbs-up", class: 'btn btn-sm btn-outline-success rounded-circle'
%span.badge.badge-success
  = @idea.total_score
- unless current_user.voted_for? @idea
  = link_to dislike_idea_path(@idea), method: :put do
    = fa_icon "thumbs-down", class: 'btn btn-sm btn-outline-danger rounded-circle'
- if current_user.voted_down_on? @idea
  = fa_icon "thumbs-down"


%p
- if @idea.votes_for.any?
  .progress{:style => "height: 13px"}
    .progress-bar.bg-success{:style => "width:#{@idea.positive_percent}%"}
      =  @idea.positive_score
    .progress-bar.bg-danger{:style => "width:#{@idea.negative_percent}%"}
      =  @idea.negative_score
- else
  .progress{:style => "height: 13px"}
    .progress-bar.bg-success{:style => "width: 0%"}
%p
.row
  .col-lg
    = fa_icon "exclamation-triangle"
    Similar projects
    = render 'attachments/form'
    %p
    = render 'attachments/index'
    %p

    = fa_icon "comments"
    Discussion
    %p
    = render 'comments/form'
    %p
    = render 'comments/index'
    %p
  .col-lg
    = fa_icon "users"
    Cofounders
    - unless @current_user_is_a_cofounder
      = render 'ideas/cofounder_modal'
    - else
      %span.badge.badge-secondary
        %h5 You've applied!
    %p
    = render 'cofounders/index'
%br