- content_for :title do
  = @idea.name
  | Does my startup idea suck?

%small
  .text-white 
    = link_to 'ideas', ideas_path
    \/
    = link_to @idea.name, @idea

= render 'ideas/idea', idea: @idea

.text-light.text-center
  = pluralize(@idea.total_votes, 'vote')
- if @idea.votes_for.any?
  .progress{:style => "height: 13px"}
    .progress-bar.bg-success{:style => "width:#{@idea.positive_percent}%"}
      =  @idea.positive_score
    .progress-bar.bg-danger{:style => "width:#{@idea.negative_percent}%"}
      =  @idea.negative_score
- else
  .progress{:style => "height: 13px"}
    .progress-bar.bg-success{:style => "width:50%"}
      =  @idea.positive_score
    .progress-bar.bg-danger{:style => "width:50%"}
      =  @idea.negative_score
%small
  .row.text-light
    .col-lg
      Liked by:
      - @idea.votes_for.up.by_type(User).voters.each do |user|
        = link_to "#{user.username},", user_path(user)
    .col-lg
      Disliked by:
      - @idea.votes_for.down.by_type(User).voters.each do |user|
        = link_to "#{user.username},", user_path(user)
%p
/progress-bar
/bottom-actions
.row
  .col-lg
    .text-white
      .fa.fa-exclamation-triangle
      Similar projects
    = render 'attachments/form'
    %p
    = render 'attachments/index'
  .col-lg
    .text-white
      .fa.fa-users
      Cofounders
    - unless @current_user_is_a_cofounder
      = render 'cofounders/form'
    - else
      %span.badge.badge-secondary
        %h5 You've applied!
    %p
    = render 'cofounders/index'
/bottom-actions
%br