%h1 Users
%table.table
  %thead
    %tr
      %th ID
      %th Email
      %th FB_name
      %th Sign_in_Q
      %th Sign_in_at
      %th Sign_in_IP
      %th Roles
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td= user.email
        %td= user.name
        %td= user.sign_in_count
        %td= user.current_sign_in_at
        %td= user.current_sign_in_ip
        %td= user.roles.collect{|r| r.name}.to_sentence
