.card
  .jumbotron
    %p
    %h4
      = @user.username
    %p
    registered
    = time_ago_in_words(@user.created_at)
    ago
  .container
    %h6
      - if current_user.id == @user.id
        - unless current_user.name
          = link_to "Link your Facebook account", user_facebook_omniauth_authorize_path
      %br
      Posted
      = @user.ideas.count
      ideas
      %br
      Wants to execute
      = @user.cofounders.count
      ideas
      %br
      Put
      = @user.votes.up.count
      upvotes and
      = @user.votes.down.count
      downvotes
      %br
%br
%nav
  #nav-tab.nav.nav-tabs{:role => "tablist"}
    %a#nav-home-tab.nav-item.nav-link.active{"aria-controls" => "nav-home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#nav-home", :role => "tab"}
      #{@user.username}'s ideas
    - if current_user.has_role?(:admin)
      %a#nav-profile-tab.nav-item.nav-link{"aria-controls" => "nav-profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-profile", :role => "tab"} Upvoted
      %a#nav-contact-tab.nav-item.nav-link{"aria-controls" => "nav-contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-contact", :role => "tab"} Downvoted
#nav-tabContent.tab-content
  #nav-home.tab-pane.fade.show.active{"aria-labelledby" => "nav-home-tab", :role => "tabpanel"}
    %br= render 'ideas/index'
  - if current_user.has_role?(:admin)
    #nav-profile.tab-pane.fade{"aria-labelledby" => "nav-profile-tab", :role => "tabpanel"}
      %br
      - Idea.where(id: @user.find_up_voted_items.map(&:id)).each do |idea|
        %br= link_to idea.name, idea_path(idea)
      %br
    #nav-contact.tab-pane.fade{"aria-labelledby" => "nav-contact-tab", :role => "tabpanel"}
      %br
      - Idea.where(id: @user.find_down_voted_items.map(&:id)).each do |idea|
        %br= link_to idea.name, idea_path(idea)
      %br
