.card
  .jumbotron
    %p
    %h4
      = @user.username
    %p
    registered
    = time_ago_in_words(@user.created_at)
    ago
  .container
    %h6
      Posted
      = @user.ideas.count
      ideas
      %br
      Wants to execute
      = @user.cofounders.count
      ideas
      %br
      Put
      = @user.votes.up.count
      upvotes and
      = @user.votes.down.count
      downvotes
      %br
      Wrote
      = @user.comments.count
      comments
      %br
      %br
%br
- if current_user.has_role?(:admin)
  .jumbotron
    Upvoted
    %br
    - Idea.where(id: @user.find_up_voted_items.map(&:id)).each do |idea|
      %br= link_to idea.name, idea_path(idea)
    %br
    Downvoted
    %br
    - Idea.where(id: @user.find_down_voted_items.map(&:id)).each do |idea|
      %br= link_to idea.name, idea_path(idea)
  %br