- @attachments.each do |attachment|
  .card.container
    .row
      .col
        = link_to "#{attachment.title} <i class='fa fa-external-link'></i>".html_safe, "#{attachment.url}"
      .col-auto
        by
        - if attachment.user_id == current_user.id
          %span.badge.badge-success
            You
        - else
          = attachment.user.username
        - if attachment.user_id == current_user.id
          = link_to "delete", attachment, method: :delete, data: { confirm: 'Are you sure?' }
  %p