/.container-fluid
/= render 'ideas/index'
- @ideas.each do |idea|
  .row
    .col-md-auto
      .text-center
        %span.badge.badge-success.btn-block
          = idea.total_score
        .row
        = link_to like_idea_path(idea), method: :put do
          = fa_icon "thumbs-up", class: 'btn btn-sm btn-outline-success rounded-circle'
        = link_to dislike_idea_path(idea), method: :put do
          = fa_icon "thumbs-down", class: 'btn btn-sm btn-outline-danger rounded-circle'
    .col
      .card.container
        %b= link_to idea.name, idea
        = simple_format(idea.description)
        .row
        .form-inline
          - idea.tags.each do |tag|
            %span.badge.badge-default
              = link_to tag.name, tag
          %br
        .row.bg-light
          .col
            = link_to idea_path(idea) do
              = fa_icon "comments"
              = idea.comments.count
            = link_to idea_path(idea) do
              = fa_icon "users"
              = idea.cofounders.count
          .col
            .text-right
              .font-weight-light.font-italic
                = time_ago_in_words(idea.created_at)
                ago by
                = link_to idea.user.username, user_path(idea.user)
  %p
.text-center
  = link_to "Sign in to see more >>", user_facebook_omniauth_authorize_path, class: 'btn btn-primary'
%br