.text-white
  .text-center 
    %h3 Tags
  %form.form-inline.my-2.my-lg-0
    = search_form_for @q, url: tags_path do |f|
      .mr-sm-2
        = f.text_field :name_cont, class: 'form-control', placeholder: 'Find Tag', autofocus: true
      %button.btn.btn-outline-success.my-2.my-sm-0{:type => "submit"} Search
      .my-2.my-sm-0
        = link_to "<i class='fa fa-refresh'></i>".html_safe, tags_path, class: 'btn btn-outline-secondary'
  %br
  - @tags.each do |tag|
    %span.badge.badge-success
      = link_to tag.popular_name, tag_path(tag), class: 'text-white'
      - if current_user.has_role?(:admin)
        %span.badge.badge-danger
          = link_to 'x', tag, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'text-white'
%br
