- if current_user.has_role?(:admin)
  %h1 Tags
  %table.table
    %thead
      %tr
        %th ID
        %th Name
        %th Ideas
        %th
    %tbody
      - @tags.each do |tag|
        %tr
          %td= tag.id
          %td= tag.name
          %td= tag.idea_tags.count
          %td= link_to 'delete', tag, :method => :delete, :data => { :confirm => 'Are you sure?' }
- else
  - @tags.each do |tag|
    = link_to tag.popular_name, tag_path(tag)
