%nav.navbar.navbar-expand-lg.navbar-light.bg-success.sticky-top.navbar-expand-sm
  %a.navbar-brand{:href => "/"}
    .white-text
      = image_tag "doesmystartupideasuck-logo-alt.png", size: "25x25", class: "mx-auto d-inline align-top", :alt => "avatar"
      DMSIS?
  %button.navbar-toggler.bg-light{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.nav.navbar-nav
      = nav_bar do
        - if current_user
          /= nav_link "Unvoted #{Idea.where.not(id: current_user.find_voted_items.map(&:id)).count}", unvoted_ideas_path
        /- else
        /  = nav_link "Unvoted", unvoted_ideas_path
        /= nav_link "Random", random_ideas_path
        /= nav_link "Trending", trending_ideas_path
        /= nav_link "Top", top_ideas_path
        /= nav_link "Fresh", fresh_ideas_path
        = nav_link "Recent activity", recent_activity_path
        = nav_link "Ideas", fresh_ideas_path
        = nav_link "Tags", tags_path
        = nav_link "People", people_path
        /= link_to "+ Idea", new_idea_path, class: 'btn btn-outline-warning'
        = link_to '+ Submit a Startup Idea', new_idea_path, class: 'btn btn-warning'
        .d-lg-none
          - if current_user
            = link_to 'Submit new idea', new_idea_path, class: 'btn btn-light btn-block'
            .text-center
              - if current_user.image?
                = image_tag current_user.image, size: '20x20', alt: "that's me", class: 'rounded-circle'
              %b= link_to current_user.name, user_path(current_user), class: 'text-white'
              = link_to "<i class='fa fa-sign-out'></i> Sign out".html_safe, destroy_user_session_path, method: :delete, class: 'nav-link text-white'
      - unless current_user
        .d-lg-none
          = link_to "Log in", new_user_session_path, class: 'btn btn-light btn-block'
          = link_to "Sign up", new_user_registration_path, class: 'btn btn-warning btn-block text-dark'
          = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'btn btn-primary btn-block text-light'