/%nav.navbar.bg-inverse
/  %ul.nav.navbar-nav.clearfix
/    %li.nav-item
/      %button.navbar-toggler.hidden-sm-up.nav-link{"aria-controls" => "exCollapsingNavbar2", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#exCollapsingNavbar2", "data-toggle" => "collapse", :type => "button"}
/        ☰
/  #exCollapsingNavbar2.collapse.navbar-toggleable-xs
/    = link_to "Rails bootstrap", root_path, class: 'navbar-brand'
/    = link_to "Rails bootstrap", root_path, class: 'navbar-brand'
/    = link_to "Rails bootstrap", root_path, class: 'navbar-brand'
/    %ul.nav.navbar-nav
%nav.navbar.navbar-expand-lg.navbar-light.bg-success
  %a.navbar-brand{:href => "/"}
    .white-text
      /= image_tag 'doesmystartupideasuck-logo.png', size: '25x25'
      = fa_icon "rocket"
      Idearocket
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.nav.navbar-nav
      - if current_user
        = nav_bar do
          /%li.nav-item= nav_link "Offices", unrated_ideas_path
          /%span.badge.bg-light
          /  = Idea.where.not(id: current_user.find_voted_items.map(&:id)).count
          /%b
          /  %li= link_to "<i class='fa fa-dashboard'></i> New ideas".html_safe, root_path, class: 'nav-link'
          %b
            = nav_link "New ideas: #{Idea.where.not(id: current_user.find_voted_items.map(&:id)).count}", unrated_ideas_path
          /%b
          /  %li.nav-item= link_to "Trending", trending_ideas_path, class: "nav-link"
          %b
            %li.nav-item= link_to "Top", top_ideas_path, class: "nav-link"
          %b
            %li.nav-item= link_to "Fresh", fresh_ideas_path, class: "nav-link"
        - unless current_user.name
          %li= link_to "Link your FB account", user_facebook_omniauth_authorize_path, class: 'btn btn-outline-danger button'
      /- else
      /  = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'btn btn-outline-primary button'
