%nav.navbar.navbar-expand-lg.navbar-light.bg-success.sticky-top.navbar-expand-sm
  %a.navbar-brand{:href => "/"}
    .white-text
      /= image_tag 'doesmystartupideasuck-logo.png', size: '25x25'
      = fa_icon "rocket"
      doesmystartupideasuck
      = fa_icon "rocket"
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.nav.navbar-nav
      = nav_bar do
        /%li.nav-item= nav_link "Offices", random_ideas_path
        /%span.badge.bg-light
        /  = Idea.where.not(id: current_user.find_voted_items.map(&:id)).count

        /%button.btn.btn-primary{:type => "button"}
        /  Profile
        /  %span.badge.badge-light 9
        /  %span.sr-only unread messages

        /  %li= link_to "<i class='fa fa-dashboard'></i> New ideas".html_safe, root_path, class: 'nav-link'
        - if current_user
          = nav_link "Unvoted #{Idea.where.not(id: current_user.find_voted_items.map(&:id)).count}", unvoted_ideas_path
        - else
          = nav_link "Unvoted", unvoted_ideas_path
        = nav_link "Random", random_ideas_path
        /- if current_user
        /  %li.nav-item= link_to "Trending", trending_ideas_path, class: "nav-link"
        = nav_link "Top", top_ideas_path
        = nav_link "Fresh", fresh_ideas_path
        = nav_link "Tags", tags_path
        /%li.nav-item= link_to "Fresh", fresh_ideas_path, class: "nav-link"
      - if current_user
        - unless current_user.name
          %li= link_to "Link your Facebook account", user_facebook_omniauth_authorize_path, class: 'btn btn-primary'
      - else
        = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'btn btn-primary text-light'
