- if current_user
  .card
    .card-header
      = link_to user_path(current_user), class: 'btn btn-outline-secondary btn-sm btn-block' do
        - if current_user.image?
          = image_tag current_user.image, size: '20x20', alt: "that's me", class: 'rounded-circle'
        = current_user.username
      .btn-group-vertical.btn-block
        /%li{class: "#{'active font-weight-bold' if current_page?(recent_activity_path)}"}
        /  = link_to recent_activity_path, class: 'nav-link' do
        /    .fa.fa-bell
        /%li{class: "#{'active font-weight-bold card bg-secondary' if current_page?(people_path)}"}
        = link_to "#{pluralize(current_user.points, 'point')}", people_path, class: 'btn btn-outline-success btn-sm'
        = link_to "#{pluralize(current_user.ideas.count, 'idea')}", my_ideas_path, class: 'btn btn-outline-success btn-sm'
        = link_to "#{pluralize(current_user.votes.up.count, 'upvote')}", upvoted_ideas_path, class: 'btn btn-outline-success btn-sm'
        = link_to "#{pluralize(current_user.votes.down.count, 'downvote')}", downvoted_ideas_path, class: 'btn btn-outline-success btn-sm'
        = link_to "#{current_user.cofounders.count} want to join", cofounding_ideas_path, class: 'btn btn-outline-success btn-sm'
  %p
  = link_to '+ Submit an Idea', new_idea_path, class: 'btn btn-success btn-block'
- else
  .card
    .card-header
      %h4 Startup inspiration from the crowd
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/H16ldnm_-ak?rel=0", :width => "560"}
    .card-body
      %h5 
        Validate your ideas.
        %br
        Discover new ones.
        %br
        Find a team.
      %hr
      .text-center
        = link_to user_facebook_omniauth_authorize_path, class: 'btn btn-primary' do
          .fab.fa-facebook
          Sign in
        %p
        = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-dark'
        = link_to 'Log In', new_user_session_path, class: 'btn btn-outline-dark'
        /%p
        /= link_to 'Privacy Policy', privacy_policy_path
        /%p
        /= link_to 'Terms of service', terms_of_service_path
        %p
        = link_to 'Contact us', contacts_path
        %p
        © #{Time.now.year} Copyright:
        %a{:href => "https://www.github.com/yshmarov/"} doesmystartupideasuck.com
        %br
        Last updated on #{Time.now.strftime('%F')}
%p
.card
  .card-header
    Discover
    = Idea.count
    ideas 
    %br
    validated by 
    = User.count
    users
    = ActsAsVotable::Vote.count
    times
%p
.card
  .card-header
    .row
      .col
        Top Tags
      .col
        .text-right
          = link_to 'all', tags_path
  .card-body
    .form-inline
      - Tag.limit(5).order('idea_tags_count DESC').each do |tag|
        /%div{:style => "word-wrap: break-word"}
        .badge.badge-success
          = link_to tag.popular_name, tag_path(tag), class: 'text-white'
%br