- if current_user
  .card
    .card-header
      .btn-group-vertical.btn-block
        = link_to user_path(current_user), class: 'btn btn-outline-secondary btn-sm' do
          - if current_user.image?
            = image_tag current_user.image, size: '20x20', alt: "that's me", class: 'rounded-circle'
          = current_user.username
        = link_to "Account Settings", edit_user_registration_path, class: 'btn btn-outline-secondary btn-sm'
        = link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-secondary btn-sm'
      .btn-group-vertical.btn-block
        = link_to "#{current_user.points} points", people_path, class: 'btn btn-outline-success btn-sm'
        = link_to "#{current_user.ideas.count} ideas", my_ideas_path, class: 'btn btn-outline-success btn-sm'
        = link_to "#{current_user.votes.up.count} upvotes", upvoted_ideas_path, class: 'btn btn-outline-success btn-sm'
        = link_to "#{current_user.votes.down.count} downvotes", downvoted_ideas_path, class: 'btn btn-outline-success btn-sm'
        = link_to "#{current_user.cofounders.count} want to cofound", cofounding_ideas_path, class: 'btn btn-outline-success btn-sm'
  %p
  = link_to '+ Submit an Idea', new_idea_path, class: 'btn btn-success btn-block'
- else
  .card
    .card-header
      %h4 Startup inspiration from the crowd
    .embed-responsive.embed-responsive-16by9
      %iframe.embed-responsive-item{:allow => "autoplay; encrypted-media", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/H16ldnm_-ak?rel=0", :width => "560"}
    .card-body
      %h5 
        Validate your ideas.
        %br
        Discover new ones.
        %br
        Find a team.
      %hr
      .text-center
        = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: 'btn btn-outline-primary'
        /%p
        /= link_to 'Privacy Policy', privacy_policy_path
        /%p
        /= link_to 'Terms of service', terms_of_service_path
        %p
        = link_to 'Contact us', contacts_path
        %p
        © #{Time.now.year} Copyright:
        %a{:href => "https://www.github.com/yshmarov/"} doesmystartupideasuck.com
        %br
        Last updated on #{Time.now.strftime('%F')}
%p
.card
  .card-header
    Discover
    = Idea.count
    ideas 
    %br
    validated by 
    = User.count
    users
    = ActsAsVotable::Vote.count
    times
%p
.card
  .card-header
    .row
      .col
        Top Tags
      .col
        .text-right
          = link_to 'all', tags_path
  .card-body
    .form-inline
      - Tag.limit(5).order('idea_tags_count DESC').each do |tag|
        /%div{:style => "word-wrap: break-word"}
        .badge.badge-success
          = link_to tag.popular_name, tag_path(tag), class: 'text-white'
%br