!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Doesmystartupideasuck
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'layouts/header'
    .container
      %p.notice= notice
      %p.alert= alert
      .row
        .col-9
          = yield
        - if current_user
          .col
            = link_to 'Submit new idea', new_idea_path, class: 'btn btn-success btn-block'
            %p
            .card.container-fluid
              %b= current_user.username
              %p
              = current_user.ideas.count
              ideas
              %p
              = current_user.comments.count
              comments
            %p
            = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-default'
        - else
          = link_to 'Sign in', new_user_session_path, class: 'btn btn-default'
          = link_to 'Sign up', new_user_registration_path, class: 'btn btn-default'
