!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title 
      = content_for?(:title) ? yield(:title) : "Does my startup idea suck?"
    = favicon_link_tag 'doesmystartupideasuck-logo.png'
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "Doesmystartupideasuck"}", :name => "description"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track' => 'reload'
    = csrf_meta_tags
    = render 'layouts/google_analytics'
  %body.bg-dark
    = render 'layouts/navbar'
    .container
      %p
      .row
        .col-lg-9
          = render 'layouts/messages'
          = yield
          = rjv_tags
        .col-lg-3
          .d-none.d-lg-block.sticky-top
            = render 'layouts/sidebar'
